{% include header.html %}

    <div class="container">

		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1" style='column-count:2'>						
						{% for item in site.data.videos.links %}                   
						<p style='page-break-inside: avoid; -webkit-column-break-inside: avoid;	break-inside: avoid;'>
                        	<a href="{{ item.url }}">  {{ item.text }} <br /> <img src="/videos/{{ item.icon }}"/></a>
                        </p>
                    	{% endfor %}
					</div>
				</div>
			</div>
		</article>
	</div>
	
{% include footer.html %}
	